*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka';
}
body{
    background-color:skyblue;
}

section{
    margin-top: 10px;
    margin-bottom: 100px ;
}
 /* 1st and 2nd section st  */
.scrollspy-example{
    height: 200px;
    border: 2px solid black;
    overflow-y: scroll;
}
.all-div{
    display:inline-block;
    padding: 50px 0;
    width: 100%;
    height: 200px;
}
.all-div:nth-child(even) {
    background: #c9c04a;
}
.all-div:nth-child(odd) {
    background: #f87777;
}
/* 1st and 2nd section end  */

/* 3ed section st  */
.loder{
    min-height: 100vh;
    border-radius: 20px;
    background-image: radial-gradient(circle, red, yellow, green);
}
/* 3ed section end */

/* 4th section st */
  /* Linear Gradient */
.l-r-c{
    gap: 30px;
}
.linear-gradient-1 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: linear-gradient(260deg, rgb(192, 28, 56), green);
}
.linear-gradient-2 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, red,orange,yellow,green,blue,indigo,violet);
}
.linear-gradient-3 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
  /* Radial Gradient */
.radial-gradient-1 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}
.radial-gradient-2 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: repeating-radial-gradient(rgb(211, 36, 36) 20%, rgb(6, 19, 134) 30%, rgb(0, 255, 0) 40%);
}
.radial-gradient-3 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-image: radial-gradient(circle, red, yellow, green);
}


/* 4th section end */

